.fomenu {
  font-size: 1em;
}

.almenu {
  font-size: 1em;
  font-weight: bold;
  color: #595959;
}
.almenu:not([disabled]):hover {
  font-weight: bold;
  color: #292929;
}
.almenu[disabled] {
  color: lightslategray;
}

