<button class="fomenu" mat-button [matMenuTriggerFor]="hallagtokMenu">{{ 'MENU.HALLGATOK_MENU' | translate }}</button>
  <mat-menu #hallagtokMenu="matMenu" yPosition="below">
    <button class="almenu" mat-menu-item>{{ 'MENU.HALLGATOK.UJ_HALLGATO' | translate }}</button>
    <button class="almenu" mat-menu-item>{{ 'MENU.HALLGATOK.HALGATOK_LISTA' | translate }}</button>
  </mat-menu>

<button class="fomenu mat-menu-content" mat-button [matMenuTriggerFor]="torzsMenu">{{ 'MENU.TORZS_MENU' | translate }}</button>
  <mat-menu style="background: red" #torzsMenu="matMenu" yPosition="below">
    <button class="almenu" mat-menu-item (click)="torzs()" >{{ 'MENU.TORZS.OPERATOR_TORZS' | translate }}</button>
    <button class="almenu" mat-menu-item>{{ 'MENU.TORZS.NYELV_TORZS' | translate }}</button>
  </mat-menu>
