<app-cimsor></app-cimsor>
<div>
  <mat-card class="login_ablak">
    <mat-card-header>
      <mat-card-title class="login_fejlec">Belépés a programba</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list [cols]="1">
        <mat-form-field class="form">
          <input [(ngModel)] = "_userName" class="input_text" matInput placeholder="Felhasználó név:" >
        </mat-form-field>
        <mat-form-field class="form">
          <input [(ngModel)] = "_password" matInput placeholder="Jelszó:" type="password">
        </mat-form-field>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="gombok">Mégse</button>
      <button mat-raised-button class="gombok" (click)="belepes()">Belépés</button>
    </mat-card-actions>
  </mat-card>
</div>
