  <h2 mat-dialog-title>{{ _ujOperator?'Új operátor létrehozása':'Operátor módosítása'}}</h2>
  <mat-dialog-content style="background-color: #EAE7DC">

    <mat-card>
      <mat-card-content class="dialog_ablak">
        <mat-grid-list cols="2" rowHeight="80px" class="mat-grid-li">
          <mat-grid-tile class="mat-grid-tit">
            <mat-form-field class="form">
              <input [(ngModel)] = "_operator.vezetekNev" matInput>
              <mat-placeholder class="placeholder">Vezetéknév:</mat-placeholder>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile class="mat-grid-tit">
            <mat-form-field class="form">
              <input [(ngModel)] = "_operator.keresztNev" class="input_text" matInput placeholder="Keresztnév:" >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile class="mat-grid-tit">
            <mat-form-field class="form">
              <input [(ngModel)] = "_operator.username" class="input_text" matInput placeholder="Felhasználó név:" (focus)="disableMentes()" (blur)="userneveEllenorzes()" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile class="mat-grid-tit" *ngIf="!_ujOperator">
              <mat-checkbox [(ngModel)]="_aktivFelhasznalo" [disabled]="_disabled">{{ _aktivFelhasznalo ? 'Aktív felhasználó' : 'Passzív felhasználó' }}</mat-checkbox>
          </mat-grid-tile>

          <mat-grid-tile *ngIf="!_ujOperator" class="mat-grid-tit">
            <button mat-raised-button (click)="jelszoValtoztatasDialogusAblakMegnyitasa(_operator)"><small class="uzenet">{{ _jelszoModositasUzenet }}</small> Jelszó változtatás</button>
          </mat-grid-tile>

          <mat-grid-tile *ngIf="!_ujOperator && _felhasznaloJoga != 'ADMIN'" class="mat-grid-tit">
            <mat-form-field>
              <input [(ngModel)] = "_operator.jogok.megnevezes" class="input_text" readonly matInput placeholder="Jogosultság:" >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="_ujOperator || _felhasznaloJoga==='ADMIN'" class="mat-grid-tit">
            <mat-form-field>
              <mat-label>Jogosultság</mat-label>
              <mat-select [(value)]="_aktualisJog">
                <mat-option *ngFor="let jog of _jogokLista" [value]="jog">
                  {{ jog.megnevezes }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile *ngIf="_ujOperator" class="mat-grid-tit">
            <mat-form-field class="form">
              <input [(ngModel)] = "_ujJelszo1" matInput placeholder="Jelszó:" type="password">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="_ujOperator" class="mat-grid-tit">
            <mat-form-field class="form">
              <input [(ngModel)] = "_ujJelszo2" matInput placeholder="Jelszó megerősítése:" type="password">
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card-content>
    </mat-card>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="alap-gomb" (click)="megseClick()">Mégse</button>
    <button class="alap-gomb" [disabled]="_nemMentheto" (click)="operatorMentese()">Mentés</button>
  </mat-dialog-actions>
