mat-table {
  width: 80%;
  margin: 20px auto;
}

mat-header-cell {
  background-color: cornflowerblue;
  font-weight: bold;
  color: darkblue;
  font-size: 14px;
}

mat-cell {
  cursor: pointer;
}

mat-form-field {
  width: 60%;
  margin-top: 20px;
  margin-left: 10%;
}
 .mat-column-edit, .mat-column-delete {
   color: #f0f0f0;
   width: 20px;
 }

 .ujFelhasznaloButton {
   margin-right: 10%;
   margin-top: 20px;
   float: right;
 }
