<app-cimsor *ngIf="isBelepve"></app-cimsor>

<div>
  <mat-form-field>
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Szűkités">
  </mat-form-field>

  <mat-table [dataSource]='operatorokLista' matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>NO.</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="vezeteknev">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Vezetéknév</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.vezetekNev }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="keresztnev">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Keresztnév</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.keresztNev }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>UserName</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.username }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="password">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Jelszó</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.password }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="aktiv">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Aktív</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon style="color: green">{{ element.aktiv=='A'?'radio_button_checked':'radio_button_unchecked' }}</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon color="primary" matTooltip="Operátor módosítás" matTooltipShowDelay="500" matTooltipHideDelay="500" matTooltipPosition="right">create</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="openOperatorDialog(element.id.toString())">
        <mat-icon style="color: red" matTooltip="Operátor törlése({{element.vezetekNev + ' ' + element.keresztNev}})" matTooltipShowDelay="500" matTooltipHideDelay="500" matTooltipPosition="right">highlight_off</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedHeadColums"></mat-header-row>
    <mat-row (dblclick)="felhasznaloKivalaszt(row)" *matRowDef="let row; columns: displayedRowColums;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]='[5, 10, 20]' showFirstLastButtons></mat-paginator>
</div>
<!--<p *ngFor="let operator of operatorokLista">-->
<!--  {{ operator.id }} {{ operator.vezetekNev }} {{ operator.keresztNev }} {{ operator.aktiv }}  {{ operator.username }} {{ operator.password }}-->
<!-- </p>-->
